@import url(htts://fontes.googleapi.com/css2family=Chakra+petch:wgt@400;700)

:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botao-ativo: #3a375e;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}    

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
} 


.conteudo-principa{
    display: flex;
    flex-direction: column;
    justify-content: center
    align-intems:center;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100;
    font-size: 32;
}

.titulo-principal span{
    color: var(--verde);
}

.botao{
    font-family: "Crakra Petch",sans-serif
    background-color: var(var(--botao-inativo)
    color:var(var(--branco);
    display: flex;
    justiy-content: center;
    pading: 1em;
    font-size 18px;
    aling-items:center;
    widht:100%
    border-bottom: 4px solid var(--botao-ativo);

    
    

    